.countryContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 4.86vw;
  padding: 0 8rem;
  margin-top: 5rem;
  padding-bottom: 4rem;
  cursor: pointer;
}

.flags {
  height: 22.5vh;
  width: 18vw;
}

.container {
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.041);
}

.cc-dark .container {
  background-color: var(--dark-blue-dark-mode-elements);
}

.details {
  padding-left: 1.7rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.countryName {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
  max-width: 18rem;
}

.details div {
  color: black;
}

.cc-dark .details div {
  color: white;
}

.detailText {
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
}

.cc-dark .detailText {
  color: white;
}

@media (max-width: 1661px) {
  .countryContainer {
    gap: 4vw;
  }
}

@media (max-width: 1441px) {
  html {
    font-size: 0.8rem;
  }
  .countryContainer {
    gap: 3vw;
    /* padding: ; */
  }
  .flags {
    width: 19.1vw;
  }
}

@media (max-width: 376px) {
  .countryContainer {
    padding: 0 5rem;
    flex-direction: column;
    gap: 3rem;
  }
  .flags {
    width: 100%;
    height: 18.5vh;
  }
  .countryName {
    font-size: 1.5rem;
  }
  .detailText {
    font-size: 1.3rem;
  }
  .population,
  .region,
  .capital {
    font-size: 1.3rem;
  }
}
