.selection {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8rem;
  width: 100%;
  margin-top: 3.5rem;
  justify-content: space-between;
}

.countryInput {
  position: relative;
  /* display: flex; */
  gap: 1rem;
}

.countryInput i {
  display: block;
  position: absolute;
  left: 2.3rem;
  font-size: 1.35rem;
  top: 1.6rem;
  color: rgba(0, 0, 0, 0.402);
}

.sel-dark .countryInput i {
  color: white;
}

.countryInput input {
  height: 7.2vh;
  width: 28vw;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: black;
  padding-left: 6rem;
  background-color: #fff;
  outline: none;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.041);
}

.sel-dark .countryInput input {
  background-color: var(--dark-blue-dark-mode-elements);
  color: var(--white);
}

.countryInput input::placeholder {
  color: rgba(0, 0, 0, 0.402);
  font-weight: 600;
}

.sel-dark .countryInput input::placeholder {
  font-weight: 600;
  color: white;
}

.select-filter {
  padding: 0 0.8rem;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.041);
}

.sel-dark .select-filter {
  background-color: var(--dark-blue-dark-mode-elements);
}

.selection select {
  width: 18rem;
  height: 3.9rem;
  background-color: white;
  color: var(--white);

  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  color: black;
  outline: none;
}

.sel-dark select {
  background-color: var(--dark-blue-dark-mode-elements);
  color: var(--white);
}

.select-filter select option {
  margin-top: 2rem;
}

@media (max-width: 1441px) {
  .countryInput input {
    height: 5.3vh;
    width: 21vw;
  }
}

@media (max-width: 376px) {
  .selection {
    padding: 0 5rem;
    flex-wrap: wrap;
  }
  .countryInput {
    width: 100%;
  }
  .countryInput i {
    top: 2.3rem;
  }
  .countryInput input {
    width: 100%;
    box-sizing: border-box;
  }
  .countryInput input::placeholder {
    font-size: 1.3rem;
  }
}
