nav {
  width: 100%;
  height: 11vh;
  display: flex;
  align-items: center;
  padding: 0 8rem 0 8rem;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.131);
}

.nav-dark {
  background-color: var(--dark-blue-dark-mode-elements);
}

nav h1 {
  font-size: 1.82rem;
  font-weight: 800;
  color: black;
}

.nav-dark h1 {
  color: var(--white);
}

.darkToggler {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.darkToggler i {
  height: 1.1rem;
  font-size: 1.2rem;
  color: black;
}

.darkToggler p {
  font-size: 1.35rem;
  font-weight: 600;
  color: black;
}

.fa-solid {
  display: none;
}
.fa-regular {
  display: block;
}
.nav-dark .fa-solid {
  color: white;
  display: block;
}
.nav-dark .fa-regular {
  color: black;
  display: none;
}
.nav-dark p {
  color: white;
}
.dn {
  display: none;
}

@media (max-width: 376px) {
  nav {
    padding: 0 3rem;
  }
}
